<h1>Liste des Pokémons</h1>

<div class="container">
  <div class="row">
    <ul
      class="d-flex flex-row flex-wrap"
      style="gap:10px;"
    >
      <li
        *ngFor="let pokemon of pokemonList"
        class="rounded col-lg-3 col-s-12 col-md-6 ml-1"
        style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;list-style: none;"
        pkmBorderCard
      >
        <div class="card-pokemon">
          <div class="card-img">
            <img src="{{pokemon.picture}}" alt="{{pokemon.name}}">
          </div>
          <div class="card-info">
            <h2>{{pokemon.name}}</h2>
            <p>{{pokemon.created | date:"dd/mm/yyyy"}}</p>
            <span
              class="{{type | pokemonTypeColor}} mr-2 mb-3 p-3"
              *ngFor="let type of pokemon.types">{{type}}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
